table tr th{
    text-align: center;
    font-size: 100%;
    padding: 15px;
    vertical-align: middle;
}

table tr td{
    text-align: center;
    font-size: 100%;
    word-wrap: break-word;
    max-width: 160px;
    padding: 15px;
    vertical-align: middle;
}

.overflowdiv{
    height: 272.800px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
}