<div class="col-md-12 card">
    <div class="col-md-12">
        <table class="table table-sm bluetablehead">
            <tr>
                <th>Section: {{flooritem.data.Floor.FloorSection}}</th>
                <th>Floor Name: {{flooritem.data.Floor.FloorName}}</th>
                <th>Exposed Area: {{flooritem.data.Floor.ExposedArea | number: '1.0-2'}}</th>
                <th *ngIf="!isedit"><button class="btn btn-primary"
                        (click)="isdisplay = !isdisplay">{{isdisplay ? "Hide" : "Show"}}</button></th>
                <th *ngIf="!isedit"><button class="btn btn-primary" (click)="selecttoEdit(flooritem)">Edit</button></th>
                <th *ngIf="isedit">
                    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
                    <button class="btn btn-primary" (click)="onSave(flooritem.id)">Save</button>
                    <button class="btn btn-primary" (click)="onDelete(flooritem.id)">Delete</button>
                </th>
            </tr>
        </table>

        <div class="col-md-12">
            <div *ngIf="isdisplay">
                <app-heatlossfloor [flooritem]="flooritem"></app-heatlossfloor>
            </div>
            <div class="col-md-12" *ngIf="isedit">
                <!-- <table class="table table-sm table-hover">
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="floorsection" #floorsection="ngModel"
                                placeholder="Floor Section" [(ngModel)]="floorextendobject.FloorSection">
                        </td>
                        <td>
                            <span>Construction
                                <select class="form-control" [(ngModel)]="floorobject" [compareWith]="compareFn">
                                    <option [ngValue]="null">Select Floor...</option>
                                    <option *ngFor="let i of floorservice.floorlist" [ngValue]="i.data">
                                        {{i.data.FloorName}}
                                    </option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="exposedarea" #exposedarea="ngModel"
                                placeholder="Exposed Area" [(ngModel)]="floorextendobject.ExposedArea">
                        </td>
                    </tr>
                </table> -->
                <form class="buildingform">
                    <div class="form-row">
                        <div class="form-group col-md-6"><input type="text" class="form-control" name="floorsection"
                                #floorsection="ngModel" placeholder="Floor Section"
                                [(ngModel)]="floorextendobject.FloorSection"></div>
                        <div class="form-group col-md-6"> <select class="form-control" name="Floorobject"
                                [(ngModel)]="floorobject" [compareWith]="compareFn">
                                <option [ngValue]="null">Select Floor...</option>
                                <option *ngFor="let i of floorservice.floorlist" [ngValue]="i.data">{{i.data.FloorName}}
                                </option>
                            </select></div>
                        <div class="form-group col-md-12"> <input type="text" class="form-control" name="exposedarea"
                                #exposedarea="ngModel" placeholder="Exposed Area"
                                [(ngModel)]="floorextendobject.ExposedArea"></div>
                    </div>
                </form>
            </div>
        </div>