table tr th{
    text-align: center;
    font-size: 90%;
}


table tr td{
    text-align: center;
    font-size: 100%;
    word-wrap: break-word;
    width: 200px;
    vertical-align: middle;
    padding: 3px;
}

#rcorners3 {
    margin: 0 30px 30px 0;
    border-radius: 15px 50px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 100%;
  }