<div class="row">
        <div class="col-md-4">
                <form class="buildingform" #doorform="ngForm" (ngSubmit)="onSubmit(doorform)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="doorobject.ID">
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                        <input class="form-control" type="text" name="doorName" #doorName="ngModel"
                                                placeholder="Door Name" [(ngModel)]="doorobject.DoorName">
                                </div>
                                <div class="form-group col-md-6">
                                        <input class="form-control" type="text" name="constructionRValue"
                                                #constructionRValue="ngModel" placeholder="Construction R-Value"
                                                [(ngModel)]="doorobject.ConstructionRValue" inputmode="numeric">
                                </div>
                                <div class="form-group col-md-6">
                                        <input class="form-control" type="text" pattern="[0-9]*" name="width"
                                                #width="ngModel" placeholder="Width" [(ngModel)]="doorobject.Width"
                                                (keyup)="onKeyWidth($event)" inputmode="numeric">
                                </div>
                                <div class="form-group col-md-6">
                                        <input class="form-control" type="text" pattern="[0-9]*" name="height"
                                                #height="ngModel" placeholder="Height" [(ngModel)]="doorobject.Height"
                                                (keyup)="onKeyHeight($event)" inputmode="numeric">
                                </div>
                                <div class="form-group col-md-12">
                                        <label>Area: <span>{{doorobject.Area | number: '1.0-2'}}</span></label>
                                </div>
                                <div class="form-group col-md-12">
                                        <button [disabled]="doorobject.DoorName == null || doorobject.ConstructionRValue == null 
                                                        || doorobject.Width == null || doorobject.Height == null"
                                                class="btn btn-primary" type="submit"><i
                                                        class="far fa-check-circle"></i> Complete
                                                Door</button>
                                        <button class="btn btn-link btn-sm" style="float: right;" type="reset"><i
                                                        class="fas fa-redo"></i> Reset</button>
                                </div>
                        </div>
                </form>
        </div>

        <div class="col-md-8 overflowdiv">
                <table class="table table-sm table-hover">
                        <tr>
                                <th>Door Name</th>
                                <th>R-Value</th>
                                <th>Width</th>
                                <th>Height</th>
                                <th>Area</th>
                                <th>Action</th>
                        </tr>
                        <tr *ngFor="let i of wallservice.doorlist">
                                <td>{{i.data.DoorName}}</td>
                                <td>{{i.data.ConstructionRValue | number: '1.0-2'}}</td>
                                <td>{{i.data.Width | number: '1.0-2'}}</td>
                                <td>{{i.data.Height | number: '1.0-2'}}</td>
                                <td>{{i.data.Area | number: '1.0-2'}}</td>
                                <td>
                                        <button class="btn btn-secondary" type="button" (click)="editFieldValue(i)"
                                                matTooltip="Edit"><i class="fas fa-pen-square"></i></button>
                                        <button class="btn btn-danger" type="button"
                                                (click)="deleteFieldValue(i.id, i.data)"><i class="fas fa-trash-alt"
                                                        matTooltip="Delete"></i></button>
                                </td>
                        </tr>

                </table>
        </div>

</div>