<table class="table table-sm table-hover">
        <tr>
                <th>Door Name</th>
                <th>Construction R-Value</th>
                <th>Width</th>
                <th>Height</th>
                <th>Area</th>
                <th>Action</th>
        </tr>
        <tr *ngFor="let i of doorobjectlist">
                <td>{{i.data.DoorName}}</td>
                <td>{{i.data.ConstructionRValue | number: '1.0-2'}}</td>
                <td>{{i.data.Width | number: '1.0-2'}}</td>
                <td>{{i.data.Height | number: '1.0-2'}}</td>
                <td>{{i.data.Area | number: '1.0-2'}}</td>
                <td>
                        <button class="btn btn-default" type="button" (click)="editFieldValue(i)">Edit</button>
                        <button class="btn btn-default" type="button" (click)="deleteFieldValue(i.id)">Delete</button>
                </td>
        </tr>

</table>



<form class="buildingform" #doorform="ngForm" (ngSubmit)="onSubmit(doorform)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="doorobject.ID">
        <div class="form-row">
                <div class="form-group col-md-12">
                        <input class="form-control" type="text" name="doorName" #doorName="ngModel"
                                placeholder="Door Name" [(ngModel)]="doorobject.DoorName">
                </div>
                <div class="form-group col-md-12">
                        <input class="form-control" type="text" name="constructionRValue" #constructionRValue="ngModel"
                                placeholder="Construction R-Value" [(ngModel)]="doorobject.ConstructionRValue"
                                inputmode="numeric">
                </div>
                <div class="form-group col-md-12">
                        <input class="form-control" type="text" pattern="[0-9]*" name="width" #width="ngModel"
                                placeholder="Width" [(ngModel)]="doorobject.Width" (keyup)="onKeyWidth($event)"
                                inputmode="numeric">
                </div>
                <div class="form-group col-md-12">
                        <input class="form-control" type="text" pattern="[0-9]*" name="height" #height="ngModel"
                                placeholder="Height" [(ngModel)]="doorobject.Height" (keyup)="onKeyHeight($event)"
                                inputmode="numeric">
                </div>
                <div class="form-group col-md-12">
                        <label>Area: <span>{{doorobject.Area | number: '1.0-2'}}</span></label>
                </div>
                <div class="form-group col-md-12">
                        <button [disabled]="doorobject.DoorName == null || doorobject.ConstructionRValue == null 
                        || doorobject.Width == null || doorobject.Height == null" class="btn btn-primary" type="submit">Complete
                                Door</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                </div>
        </div>
</form>