<div class="row">
  <div class="col-md-12 card" *ngFor="let roofskylighti of roofskylightobjectlist; let i = index">
    <div class="col-md-12">
      <table class="table table-sm bluetablehead">
        <tr>
          <th>Roof Section: {{roofskylighti.roof.RoofSection}}</th>
          <th>Roof Name: {{roofskylighti.roof.RoofName}}</th>
          <th>Exposed Area: {{roofskylighti.roof.ExposedArea | number: '1.0-2'}}</th>
          <th><button class="btn btn-primary"
              (click)="hideorshow(roofskylighti)">{{roofskylighti.buttonshowhide}}</button></th>
          <th *ngIf="!roofskylighti.isEditable"><button class="btn btn-primary"
              (click)="onEdit(roofskylighti, i)">Edit</button>
          </th>
          <th *ngIf="roofskylighti.isEditable">
            <button class="btn btn-primary" (click)="onCancel(roofskylighti)">Cancel</button>
            <button class="btn btn-primary" (click)="onSave(roofskylighti, i)">
              Save
            </button>
            <button class="btn btn-primary" (click)="onDelete(i)">Delete</button>
          </th>
        </tr>
      </table>
      <div class="col-md-12">
        <div *ngIf="roofskylighti.isDisplay">
          <app-heatlossroofskylight [roofskylighti]="roofskylighti">
          </app-heatlossroofskylight>
        </div>

        <div class="col-md-12" *ngIf="roofskylighti.isEditable">
          <table class="table table-sm table-hover">
            <td><input type="text" class="form-control" name="roofsection" #roofsection="ngModel"
                [(ngModel)]="roof_section1" placeholder="Roof Section"></td>
            <td><span>Construction: <select class="form-control" [(ngModel)]="roofname1" (change)="optionchange3()">
                  <option *ngFor="let roof of roofobjectlist" [ngValue]="roof.RoofName">{{roof.RoofName}}</option>
                </select></span></td>
            <td><input type="text" class="form-control" name="exposedearea" #exposedearea="ngModel"
                [(ngModel)]="roofarea1" placeholder="Exposed Area"></td>
          </table>

          <table class="table table-sm table-hover">
            <tr>
              <th>Skylight ID</th>
              <th>Width</th>
              <th>Length</th>
            </tr>
            <tr *ngFor="let iskylight of fieldarrayskylight1; let i = index">
              <td>{{iskylight.SkylightsName}}</td>
              <td>{{iskylight.Width | number: '1.0-2'}}</td>
              <td>{{iskylight.Length | number: '1.0-2'}}</td>
              <td><button class="btn btn-primary" (click)="deleteskylight(i)">Delete</button></td>
            </tr>
            <tr>
              <td><span>Skylight
                  <select class="form-control" [(ngModel)]="skylightobject1" (change)="optionchange()">
                    <option *ngFor="let i of skylightsobjectlist" [ngValue]="i">{{i.SkylightsName}}</option>
                  </select>
                </span></td>
              <td>{{skylightwidth | number: '1.0-2'}}</td>
              <td>{{skylightlength | number: '1.0-2'}}</td>
              <td><button class="btn btn-primary" (click)="addvalueskylight1()">Add Skylight</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="addrooftoggle()" *ngIf="!display">+ Add Roof</button>
      <button class="btn btn-primary" (click)="addrooftoggle()" *ngIf="display">Cancel</button>
      <div *ngIf="display">
        <table class="table table-sm table-hover">
          <td><input type="text" class="form-control" name="roofsection" #roofsection="ngModel"
              [(ngModel)]="roof_section" placeholder="Roof Section"></td>
          <td><span>Construction: <select class="form-control" [(ngModel)]="roofname" (change)="optionchange3()">
                <option *ngFor="let roof of roofobjectlist" [ngValue]="roof.RoofName">{{roof.RoofName}}</option>
              </select></span></td>
          <td><input type="text" class="form-control" name="exposedearea" #exposedearea="ngModel" [(ngModel)]="roofarea"
              placeholder="Exposed Area"></td>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="addskylighttoggle()" *ngIf="!display1">+ Add Skylight</button>
      <button class="btn btn-primary" (click)="addskylighttoggle()" *ngIf="display1">Cancel</button>

      <div *ngIf="display1">
        <table class="table table-sm table-hover">
          <tr>
            <th>Skylight ID</th>
            <th>Width</th>
            <th>Length</th>
          </tr>
          <tr *ngFor="let iskylight of fieldarrayskylight; let i = index">
            <td>{{iskylight.SkylightsName}}</td>
            <td>{{iskylight.Width | number: '1.0-2'}}</td>
            <td>{{iskylight.Length | number: '1.0-2'}}</td>
            <td><button class="btn btn-primary" (click)="deleteFieldValueSkylight(i)">Delete</button></td>
          </tr>
          <tr>
            <td><span>Skylight
                <select class="form-control" [(ngModel)]="skylightobject" (change)="optionchange()">
                  <option *ngFor="let i of skylightsobjectlist" [ngValue]="i">{{i.SkylightsName}}</option>
                </select>
              </span></td>
            <td>{{skylightwidth | number: '1.0-2'}}</td>
            <td>{{skylightlength | number: '1.0-2'}}</td>
            <td><button class="btn btn-primary" (click)="addvalueskylight()">Add Skylight</button></td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-primary" (click)="addFieldValue()">Validate</button>
  </div>

</div>