<div class="row">

  <div class="col-md-12">
    <button class="btn btn-primary" (click)="addrooftoggle()">{{display ? "Cancel" : "+ Add Roof"}}</button>
    <form class="buildingform" *ngIf="display">
      <div class="form-row">
        <legend>Roof</legend>
        <div class="form-group col-md-6"><input type="text" class="form-control" name="roofsection"
            #roofsection="ngModel" [(ngModel)]="roofextendobject.RoofSection" placeholder="Roof Section"></div>
        <div class="form-group col-md-6"> <select class="form-control" [(ngModel)]="roofobject"
            name="Roofobject" #Roofobject="ngModel">
            <option [ngValue]="null">Please select roof...</option>
            <option *ngFor="let roof of roofskylightservice.rooflist" [ngValue]="roof.data">{{roof.data.RoofName}}
            </option>
          </select></div>
        <div class="form-group col-md-12"><input type="text" class="form-control" name="exposedearea"
            #exposedearea="ngModel" [(ngModel)]="roofextendobject.ExposedArea" placeholder="Exposed Area"></div>
        <div class="form-group col-md-12">
          <button class="btn btn-primary"
            (click)="addskylighttoggle()">{{display1 ? "Cancel" : "+ Add Skylight"}}</button>
        </div>

        <legend *ngIf="display1">Skylight</legend>
        <div *ngIf="display1" class="form-group col-md-12">

          <select class="form-control" [(ngModel)]="skylightobject" (change)="optionchange()" name="Skylightobject"
            #Skylightobject="ngModel">
            <option [ngValue]="null">Select Skylights</option>
            <option *ngFor="let i of roofskylightservice.skylightlist" [ngValue]="i.data">
              {{i.data.SkylightsName}}</option>
          </select>
        </div>

        <div *ngIf="display1" class="form-group col-md-12">
          <table class="table table-sm table-hover">
            <tr>
              <th>Skylight ID</th>
              <th>Width</th>
              <th>Length</th>
              <th>R-Value</th>
              <th>Option</th>
            </tr>
            <tr *ngFor="let iskylight of skylightmodellist; let i = index">
              <td>{{iskylight.SkylightsName}}</td>
              <td>{{iskylight.Width | number: '1.0-2'}}</td>
              <td>{{iskylight.Length | number: '1.0-2'}}</td>
              <td>{{iskylight.ConstructionRValue | number: '1.0-2'}}</td>
              <td>
                <button class="btn btn-primary" (click)="deleteFieldValueSkylight(i)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group col-md-12">
          <button class="btn btn-primary" (click)="onSubmitModel()">
            <i class="far fa-check-circle"></i>
            Complete Roof Model
          </button>
        </div>
      </div>
    </form>

    <!-- <hr class="col-md-12">
    <div *ngIf="display">
      <table class="table table-sm table-hover">
        <td><input type="text" class="form-control" name="roofsection" #roofsection="ngModel"
            [(ngModel)]="roofextendobject.RoofSection" placeholder="Roof Section"></td>
        <td><select class="form-control" [(ngModel)]="roofobject" (change)="optionchange3()">
            <option [ngValue]="null">Please select roof...</option>
            <option *ngFor="let roof of roofskylightservice.rooflist" [ngValue]="roof.data">{{roof.data.RoofName}}
            </option>
          </select></td>
        <td><input type="text" class="form-control" name="exposedearea" #exposedearea="ngModel"
            [(ngModel)]="roofextendobject.ExposedArea" placeholder="Exposed Area"></td>
      </table>
      <hr class="col-md-12">
      <div class="col-md-12">
        <button class="btn btn-primary"
          (click)="addskylighttoggle()">{{display1 ? "Cancel" : "+ Add Skylight"}}</button>
        <div *ngIf="display1">
          <table class="table table-sm table-hover">
            <tr>
              <th>Skylight ID</th>
              <th>Width</th>
              <th>Length</th>
              <th>R-Value</th>
            </tr>
            <tr *ngFor="let iskylight of skylightmodellist; let i = index">
              <td>{{iskylight.SkylightsName}}</td>
              <td>{{iskylight.Width | number: '1.0-2'}}</td>
              <td>{{iskylight.Length | number: '1.0-2'}}</td>
              <td>{{iskylight.ConstructionRValue | number: '1.0-2'}}</td>
              <td>
                <button class="btn btn-primary" (click)="deleteFieldValueSkylight(i)">Delete</button>
              </td>
            </tr>
            <tr>
              <td><span>Skylight
                  <select class="form-control" [(ngModel)]="skylightobject" (change)="optionchange()">
                    <option [ngValue]="null">Select Skylights</option>
                    <option *ngFor="let i of roofskylightservice.skylightlist" [ngValue]="i.data">
                      {{i.data.SkylightsName}}</option>
                  </select>
                </span></td>
              <td>{{skylightwidth | number: '1.0-2'}}</td>
              <td>{{skylightlength | number: '1.0-2'}}</td>
              <td><button class="btn btn-primary" (click)="addvalueskylight()">Add Skylight</button></td>
            </tr>
          </table>
        </div>
      </div>
      <hr class="col-md-12">
      <button class="btn btn-primary" (click)="addFieldValue()"><i class="far fa-check-circle"></i> Complete Roof
        Model</button>
    </div> -->
  </div>

  <hr class="col-md-12">
  
  <div class="col-md-12 overflowdiv">
    <app-roofskylightmodelitem *ngFor="let i of buildingmodelservice.roofskylightmodellist" [i]="i">
    </app-roofskylightmodelitem>
  </div>
</div>