.bluetablehead{
    background-color: darkcyan;
    color: white;
}

table tr th{
    text-align: center;
}

.overflowdiv{
    height: 272.800px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
}