<!-- <app-buildinginfo></app-buildinginfo> -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align: center">
            <button class="btn btn-primary" style="margin:0 auto"><i
                    class="fas fa-plus-square"></i><i class="fas fa-ban"></i>
                Create A Project</button>
        </div>

        <hr class="col-md-12">
        <div class="col-md-12">
            <app-projectform></app-projectform>
        </div>
        <hr class="col-md-12">
        <app-buildingschedulelist></app-buildingschedulelist>
    </div>
</div>