<!-- <app-buildinginfo></app-buildinginfo> -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align: center">
            <button class="btn btn-primary" (click)="isopen = !isopen"
                style="margin:0 auto">{{isopen ? "Cancel" : "Create A Project"}}</button>
        </div>

        <hr class="col-md-12" *ngIf="isopen">
        <div class="col-md-12" *ngIf="isopen">
            <app-projectform></app-projectform>
        </div>
        <hr class="col-md-12">
        <app-buildingschedulelist></app-buildingschedulelist>
    </div>
</div>