<div class="col-md-12">

</div>

<form class="buildingform" #buildingform="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="form-control" name="projectname" #projectname="ngModel" placeholder="Project ID"
        [(ngModel)]="Projectname">
    </div>
    <div class="form-group col-md-12">
      <label>Target Rating</label>
      <select class="form-control" name="targetrating" #targetrating="ngModel" [(ngModel)]="TargetRating"
        (change)="selected1()">
        <option></option>
        <option *ngFor="let i of climateservice.targetratinglist" [ngValue]="i">{{i.data.Type}}</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label>Location</label>
      <select class="form-control" name="location" #location="ngModel" [(ngModel)]="Location">
        <option></option>
        <option *ngFor="let x of locationService.location" [ngValue]="x">{{x.data.place}}</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <input class="form-control" type="text" name="completedby" #completedby="ngModel" placeholder="Completed By"
        [(ngModel)]="CompletedBy">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="drawingset" #drawingset="ngModel" placeholder="Drawing Set"
        [(ngModel)]="DrawingSet">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="typology" #typology="ngModel" placeholder="Typology/Dwelling"
        [(ngModel)]="Typology">
    </div>

    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="floorarea" #floorarea="ngModel" placeholder="Floor Area (ICA)"
        [(ngModel)]="FloorArea">
    </div>

    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="numofHabitationroom" #numofHabitationroom="ngModel"
        placeholder="# of Habitable Rooms" [(ngModel)]="NumofHabitationroom">
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Next</button>
  </div>
</form>