<div class="col-md-12">
  <h1 style="text-align: center">Project: {{projectname}}</h1>
</div>
<hr class="col-md-12">
<div class="col-md-12" style="text-align: center">
  <mat-radio-group aria-label="Select an option" [(ngModel)]="selectoption">
    <mat-radio-button *ngFor="let option of designoption" [value]="option">
      {{option == "filldesign" ? "Fill Design" : "Choose Existed Design"}}</mat-radio-button>
  </mat-radio-group>
</div>
<hr class="col-md-12">
<div class="col-md-6 centered">
  <form class="buildingform" #designform="ngForm" (ngSubmit)="onSubmit(designform)">
    <div class="form-row" *ngIf="selectoption == 'filldesign'">
      <div class="form-group col-md-6">
        <input class="form-control" name="designname" #designname="ngModel" placeholder="Design Name"
          [(ngModel)]="design.DesignName" required>
        <div class="validation-error" *ngIf="designname.invalid && designname.touched">Please fill design name.</div>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" name="completedby" #completedby="ngModel" placeholder="Completed By"
          [(ngModel)]="design.CompletedBy" required>
        <div class="validation-error" *ngIf="completedby.invalid && completedby.touched">Please fill the name who
          completes the design.</div>
      </div>
      <div class="form-group col-md-4">
        <label>Target Rating</label>
        <select class="form-control" name="targetrating" #targetrating="ngModel" [(ngModel)]="design.TargetRating"
          (change)="selected1()">
          <option [ngValue]="null">Please select Homestar Rating</option>
          <option *ngFor="let i of climateservice.homestarlist" [ngValue]="i">{{i.HomeStar}}</option>
        </select>
        <div class="validation-error" *ngIf="targetrating.invalid && targetrating.touched">Please choose HomeStar.</div>
      </div>
      <div class="form-group col-md-4">
        <label>Climate Type</label>
        <select class="form-control" name="climatetype" #climatetype="ngModel" [(ngModel)]="design.Climatetype">
          <option [ngValue]="null">Please select climate zone</option>
          <option *ngFor="let x of climateservice.climatelist" [ngValue]="x">{{x}}</option>
        </select>
        <div class="validation-error" *ngIf="climatetype.invalid && climatetype.touched">Please choose climate zone.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Floor Area</label>
        <input class="form-control" type="text" name="floorarea" #floorarea="ngModel" placeholder="Floor Area"
          [(ngModel)]="design.FloorArea" required>
        <div class="validation-error" *ngIf="floorarea.invalid && floorarea.touched">Please fill your floor area.</div>
      </div>
      <div class="form-group col-md-4">
        <input class="form-control" name="street" #street="ngModel"
          placeholder="Street Number and Name (Physical Address) (Optional)" [(ngModel)]="design.StreetName">
        <!-- <div class="validation-error" *ngIf="street.invalid && street.touched">Please fill your street number and name.
        </div> -->
      </div>
      <div class="form-group col-md-4">
        <input class="form-control" name="city" #city="ngModel" placeholder="City (Optional)" [(ngModel)]="design.City">
        <!-- <div class="validation-error" *ngIf="city.invalid && city.touched">Please fill your city name.</div> -->
      </div>
      <div class="form-group col-md-4">
        <input class="form-control" name="postcode" #postcode="ngModel" placeholder="Post Code (Optional)"
          [(ngModel)]="design.Postcode">
        <!-- <div class="validation-error" *ngIf="postcode.invalid && postcode.touched">Please fill postcode name.</div> -->
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" name="drawingset" #drawingset="ngModel"
          placeholder="Drawing Set (Optional)" [(ngModel)]="design.DrawingSet">
        <!-- <div class="validation-error" *ngIf="drawingset.invalid && drawingset.touched">Please fill your drawing set.</div> -->
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" name="typology" #typology="ngModel"
          placeholder="Typology/Dwelling (Optional)" [(ngModel)]="design.Typology">
        <!-- <div class="validation-error" *ngIf="typology.invalid && typology.touched">Please fill your typology.</div> -->
      </div>
    </div>
    <div class="form-row" *ngIf="selectoption == 'selectexisted'">
      <div class="form-group col-md-12">
        <select class="form-control" name="designselect" #designselect="ngModel" [(ngModel)]="designSelect">
          <option [ngValue]="null">Please select the existed design...</option>
          <option *ngFor="let i of designsetlist" [ngValue]="i.data">{{i.data.DesignName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-12" style="text-align: right;">
      <button type="submit" class="btn btn-outline-primary"
        [disabled]="design.DesignName == null || design.CompletedBy == null || design.FloorArea == null"><i
          class="far fa-check-circle"></i> Save</button>
      <a class="btn btn-outline-primary" routerLink="/main/{{registeruser.ID}}/project">Back To Project</a>
    </div>
  </form>
</div>