<!-- <h1 style="text-align: center">Forgot Password</h1>
<form #forgotpassForm='ngForm' (ngSubmit)="onSubmitEmail(forgotpassForm)" class="loginform" *ngIf="!isaccountfound">
  <div class="form-row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="Email"
        required>
      <div class="validation-error" *ngIf="email.invalid && email.touched">Please fill your email.</div>
    </div>
    <div class="form-group col-md-6">
      <button routerLink="/login" class="btn btn-lg btn-block btn-info">Back To Login</button>
    </div>
    <div class="form-group col-md-6">
      <button class="btn btn-lg btn-block btn-info" type="submit">Reset Password Now!</button>
    </div>
  </div>
</form> -->

<!-- Default form login -->
<form class="text-center border border-light p-5 loginformcenter" #forgotpassForm='ngForm' (ngSubmit)="onSubmitEmail(forgotpassForm)"
  *ngIf="!isaccountfound">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->

  <div class="form-group col-md-12">
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="email"
      #email="ngModel" [(ngModel)]="Email" required>
    <div class="validation-error" *ngIf="email.invalid && email.touched">Please fill your email.</div>
  </div>


  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!forgotpassForm.valid">Reset Password
    Now!</button>

  <!-- Register -->
  <p>
    <a routerLink="/login">Back to Login</a>
  </p>


</form>
<!-- Default form login -->

<!-- Default form login -->
<form class="text-center border border-light p-5 loginformcenter" #resetpassForm='ngForm' (ngSubmit)="onSubmitPassword(resetpassForm)"
  *ngIf="isaccountfound">

  <div class="form-group">
    <input type="password" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="New Password" name="newpass"
    #newpass="ngModel" [(ngModel)]="Newpass" required>
    <div class="validation-error" *ngIf="newpass.invalid && newpass.touched">Please fill your password.</div>
  </div>


  <!-- Password -->
  <div class="form-group">
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Retype Password"
    name="renewpass" #renewpass="ngModel" [(ngModel)]="Renewpass" required>
    <div class="validation-error" *ngIf="renewpass.invalid && renewpass.touched">Please retype your password.</div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!resetpassForm.valid">Reset Password Now!</button>

  <!-- Register -->
  <p>
    <a routerLink="/login">Back to Login</a>
  </p>


</form>
<!-- Default form login -->