<div>
  <table class="table table-sm bluetablehead">
    <tr>
      <th>Wall Section: {{i.data.Wall.WallSection}}</th>
      <th>Wall Name: {{i.data.Wall.WallName}}</th>
      <th>Width: {{i.data.Wall.Width | number: '1.0-2'}}m</th>

      <th rowspan="2" *ngIf="!isedit"><button class="btn btn-primary"
          (click)="isdisplay = !isdisplay">{{isdisplay ? "Hide" : "Show"}}</button></th>
      <th *ngIf="!isedit"><button class="btn btn-primary" (click)="selecttoEdit(i)"><i class="far fa-edit"></i> Edit</button>
      </th>
      <th rowspan="2" *ngIf="isedit">
        <button class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-ban"></i> Cancel</button>
        <button class="btn btn-primary" (click)="updateselectedmodel(i.id)">
          <i class="far fa-save"></i> Save
        </button>
        <button class="btn btn-danger" (click)="deleleselectmodel(i.id)"><i class="fas fa-trash-alt"></i> Delete</button>
      </th>
    </tr>
    <tr>
      <th>Height: {{i.data.Wall.Height | number: '1.0-2'}}m</th>
      <th>Area: {{i.data.Wall.Area | number: '1.0-2'}} m2</th>
      <th>Orientation: {{i.data.Wall.Orientation}}</th>
    </tr>
  </table>

  <div *ngIf="isdisplay">
    <div>
      <app-heatloss [i]="i">
      </app-heatloss>
    </div>
  </div>
  <div class="col-md-12" *ngIf="isedit">
    <form class="buildingform" #wallmodelform="ngForm">
      <div class="form-row">
        <legend>Wall</legend>
        <div class="form-group col-md-12">
          <input type="text" class="form-control" placeholder="Wall Section" name="wallsection" #wallsection="ngModel"
            [(ngModel)]="wallextendobject.WallSection">
        </div>
        <div class="form-group col-md-12">
          <select class="form-control" name="windowselect" #windowselect="ngModel" [(ngModel)]="wallobject"
            (change)="optionchange()" [compareWith]="compareFn">
            <option *ngFor="let wall of wallservice.walllist" [ngValue]="wall.data">{{wall.data.WallName}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <select class="form-control" name="orienta" #orienta="ngModel" [(ngModel)]="orientationselect"
            aria-placeholder="Please select orientation">
            <option *ngFor="let orient of orientation" [ngValue]="orient">{{orient}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Width" name="width" #width="ngModel"
            [(ngModel)]="wallextendobject.Width" (keyup)="onKeyWidthWall($event)">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Height" name="height" #height="ngModel"
            [(ngModel)]="wallextendobject.Height" (keyup)="onKeyHeightWall($event)">
        </div>
        <div class="form-group col-md-4">Area: {{wallextendobject.Area | number: '1.0-2'}}</div>
        <legend>Window</legend>
        <div class="form-group col-md-12">
          <table class="table table-sm table-hover">
            <tr>
              <td colspan="4">
                <select class="form-control" [(ngModel)]="windowobject" name="Windowobject" #Windowobject="ngModel"
                  (change)="optionchange1()">
                  <option [ngValue]="null">Please select the window to add...</option>
                  <option *ngFor="let i of wallservice.windowlist" [ngValue]="i.data">{{i.data.WindowName}}</option>
                </select></td>
            </tr>
          </table>
        </div>

        <div class="form-group col-md-12">
          <table class="table table-sm table-hover">
            <tr>
              <th>Window Name</th>
              <th>Width</th>
              <th>Height</th>
              <th>R-Value</th>
              <th>Option</th>
            </tr>
            <tr *ngFor="let window of windowobjectmodellist; let i = index">
              <td>{{window.WindowName}}</td>
              <td>{{window.Width | number: '1.0-2'}}</td>
              <td>{{window.Height | number: '1.0-2'}}</td>
              <td>{{window.ConstructionRValue | number: '1.0-2'}}</td>
              <td><button class="btn btn-danger" (click)="deletewindow(i)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </table>
        </div>
        <legend>Door</legend>
        <div class="form-group col-md-12">
          <table class="table table-sm table-hover">
            <tr>
              <td colspan="4">
                <select class="form-control" name="Doorobject" #Doorobject="ngModel" [(ngModel)]="doorobject"
                  (change)="optionchange2()">
                  <option [ngValue]="null">Please select the door to add...</option>
                  <option *ngFor="let i of wallservice.doorlist" [ngValue]="i.data">{{i.data.DoorName}}</option>
                </select></td>
            </tr>
          </table>

        </div>
        <div class="form-group col-md-12">
          <table class="table table-sm table-hover">
            <tr>
              <th>Door ID</th>
              <th>Width</th>
              <th>Height</th>
              <th>R-Value</th>
              <th>Option</th>
            </tr>
            <tr *ngFor="let door of doorobjectmodellist; let i = index">
              <td>{{door.DoorName}}</td>
              <td>{{door.Width | number: '1.0-2'}}</td>
              <td>{{door.Height | number: '1.0-2'}}</td>
              <td>{{door.ConstructionRValue | number: '1.0-2'}}</td>
              <td><button class="btn btn-danger" (click)="deletedoor(i)"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </table>
        </div>


      </div>
    </form>

  </div>
</div>