<div class="col-md-12 card">
  <div class="col-md-12">
    <table class="table table-sm bluetablehead">
      <tr>
        <th>Wall Section: {{i.data.Wall.WallSection}}</th>
        <th>Wall Name: {{i.data.Wall.WallName}}</th>
        <th>Width: {{i.data.Wall.Width | number: '1.0-2'}}m</th>
        <th>Height: {{i.data.Wall.Height | number: '1.0-2'}}m</th>
        <th>Area: {{i.data.Wall.Area | number: '1.0-2'}} m2</th>
        <th>Orientation: {{i.data.Wall.Orientation}}</th>
        <th *ngIf="!isedit"><button class="btn btn-primary" (click)="isdisplay = !isdisplay">{{isdisplay ? "Hide" : "Show"}}</button></th>
        <th *ngIf="!isedit"><button class="btn btn-primary" (click)="selecttoEdit(i)">Edit</button>
        </th>
        <th *ngIf="isedit">
          <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" (click)="updateselectedmodel(i.id)">
            Save
          </button>
          <button class="btn btn-primary" (click)="deleleselectmodel(i.id)">Delete</button>
        </th>
      </tr>
    </table>

    <div class="col-md-12" *ngIf="isdisplay">
      <div>
        <app-heatloss [i]="i">
        </app-heatloss>
      </div>
    </div>
    <div class="col-md-12" *ngIf="isedit">
      <div>
        <table class="table table-sm table-hover">
          <tr>
            <td>
              <input type="text" class="form-control" placeholder="Wall Section" name="wallsection" [(ngModel)]="wallextendobject.WallSection">
            </td>
            <td>
              <span>Construction
                <select class="form-control" [(ngModel)]="wallobject" [compareWith]="compareFn">
                  <option *ngFor="let wall of wallobjectlist" [ngValue]="wall.data">{{wall.data.WallName}}</option>
                </select></span>
            </td>
            <td>
              <span>Orientation
                <select class="form-control" [(ngModel)]="wallextendobject.Orientation">
                  <option *ngFor="let orient of orientation" [ngValue]="orient">{{orient}}</option>
                </select>
              </span>
            </td>
            <td><input type="text" class="form-control" placeholder="Width" name="width1" #width1="ngModel"
                [(ngModel)]="wallextendobject.Width" (keyup)="onKeyWidthWall($event)"></td>
            <td><input type="text" class="form-control" placeholder="Height" name="height1" #height1="ngModel"
                [(ngModel)]="wallextendobject.Height" (keyup)="onKeyHeightWall($event)"></td>
            <td>Area: {{wallextendobject.Area | number: '1.0-2'}}</td>
          </tr>
        </table>

        <table class="table table-sm table-hover">
          <tr>
            <th>Window ID</th>
            <th>Width</th>
            <th>Height</th>
          </tr>
          <tr *ngFor="let window of windowobjectmodellist; let i = index">
            <td>{{window.WindowName}}</td>
            <td>{{window.Width | number: '1.0-2'}}</td>
            <td>{{window.Height | number: '1.0-2'}}</td>
            <td><button class="btn btn-primary" (click)="deletewindow(i)">Delete</button></td>
          </tr>
          <tr>
            <td><label>Window</label>
              <select class="form-control" [(ngModel)]="windowobject" (change)="optionchange1()">
                <option *ngFor="let i of windowobjectlist" [ngValue]="i.data">{{i.data.WindowName}}</option>
              </select></td>
            <td>{{windowwidth | number: '1.0-2'}}</td>
            <td>{{windowheight | number: '1.0-2'}}</td>
            <td>
              <button class="btn btn-primary" (click)="addvaluewindow()">Add Window</button>
            </td>
          </tr>
        </table>
        <table class="table table-sm table-hover">
          <tr>
            <th>Door ID</th>
            <th>Width</th>
            <th>Height</th>
          </tr>
          <tr>
            <td><label>Door</label>
              <select class="form-control" name="Doorobject1" #Doorobject1="ngModel" [(ngModel)]="doorobject"
                (change)="optionchange2()" [compareWith]="compareFnDoor">
                <option *ngFor="let i of doorobjectlist" [ngValue]="i.data">{{i.data.DoorName}}</option>
              </select></td>
            <td>{{doorwidth | number: '1.0-2'}}</td>
            <td>{{doorheight | number: '1.0-2'}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>


</div>