<div class="row">
    <div class="col-md-4">
        <form class="buildingform" #skylightform="ngForm" (ngSubmit)="onSubmitSkylight(skylightform)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="skylightsobject.ID">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" name="skylightname" class="form-control" #skylightname="ngModel"
                        [(ngModel)]="skylightsobject.SkylightsName" placeholder="Skylight Type">
                </div>
                <div class="form-group col-md-12">
                    <input type="text" name="constructionrvalue" class="form-control" #constructionrvalue="ngModel"
                        [(ngModel)]="skylightsobject.ConstructionRValue" placeholder="Construction R-Value">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="length" class="form-control" #length="ngModel"
                        [(ngModel)]="skylightsobject.Length" placeholder="Length" (keyup)="onKeyLengthSkylight($event)">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="width" class="form-control" #width="ngModel"
                        [(ngModel)]="skylightsobject.Width" placeholder="Width" (keyup)="onKeyWidthSkylight($event)">
                </div>
                <div class="form-group col-md-12">
                    Area: <span>{{skylightsobject.Area | number: '1.0-2'}}</span>
                </div>
                <div class="form-group col-md-12">
                    <button [disabled]="skylightsobject.SkylightsName == null || skylightsobject.ConstructionRValue == null ||
                                      skylightsobject.Length == null || skylightsobject.Width == null"
                        class="btn btn-primary" type="submit"><i class="far fa-check-circle"></i> Complete
                        Skylight</button>
                    <button class="btn btn-link btn-sm" style="float: right;" type="reset"><i class="fas fa-redo"></i>
                        Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8 overflowdiv">
        <table class="table table-sm table-hover">
            <tr>
                <th>Skylight Name</th>
                <th>R-Value</th>
                <th>Length</th>
                <th>Width</th>
                <th>Area</th>
                <td>Action</td>
            </tr>
            <tr *ngFor="let i of roofskylightservice.skylightlist">
                <td>{{i.data.SkylightsName}}</td>
                <td>{{i.data.ConstructionRValue | number: '1.0-2'}}</td>
                <td>{{i.data.Width | number: '1.0-2'}}</td>
                <td>{{i.data.Length | number: '1.0-2'}}</td>
                <td>{{i.data.Area | number: '1.0-2'}}</td>
                <td>
                    <button class="btn btn-secondary" type="button" (click)="editFieldValueSkylight(i)"
                        matTooltip="Edit"><i class="fas fa-pen-square"></i></button>
                    <button class="btn btn-danger" type="button" (click)="deleteFieldValueSkylight(i.id, i.data)"
                        matTooltip="Delete"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </table>
    </div>

</div>