<div class="row">
    <div class="col-md-12">
        <ng-stepper #cdkStepper [linear]="true">

            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">1</div>
                    <div class="step-title">🧱 Walls</div>
                </ng-template>
                <div class="col-md-6 center" style="text-align: center;" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
                    Please enter your different wall
                    constructions below, and their calculated R value.
                </div>
                <p [ngStyle]="{'color': 'red', 'font-weight': 'bold'}"></p>
                <app-wallform></app-wallform>
            </cdk-step>
            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">2</div>
                    <div class="step-title">🏠 Windows</div>
                </ng-template>
                <div class="col-md-6 center" style="text-align: center;" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
                    Please enter your window details as they
                    would appear on the window schedule and/or on your drawings,
                    including all ranch sliders and fully glazed doors. (Note: do not enter solid doors as these
                    will
                    entered in the next section)
                </div>
                <app-windowform></app-windowform>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">3</div>
                    <div class="step-title">🚪 Doors</div>
                </ng-template>
                <div class="col-md-6 center" style="text-align: center;" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
                    Please enter your solid (non glazed) doors. (If you are deeming the garage as an unconditioned space,
                    remember to include the door between the house and the garage)
                </div>
                <app-doorform></app-doorform>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">4</div>
                    <div class="step-title">🏠 Roof</div>
                </ng-template>
                <app-roofform></app-roofform>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">5</div>
                    <div class="step-title">🌄 Skylights</div>
                </ng-template>
                <app-skylightform></app-skylightform>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">6</div>
                    <div class="step-title">🧱 Floor</div>
                </ng-template>
                <app-floorsform></app-floorsform>
            </cdk-step>
        </ng-stepper>
        <!-- <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🧱 Walls</ng-template>

                <p>Please enter your different wall constructions below, and their calculated R value.</p>
                <app-wallform></app-wallform>
                <div style="text-align: right">
                    <button type="button" color="default" [disabled]="wallservice.walllist.length === 0"
                        class="btn btn-primary btn-lg" matStepperNext> Go to Next Section <i
                            class="fas fa-arrow-right"></i></button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🏠 Windows</ng-template>

                <p>Please enter your window details as they would appear on the window schedule and/or on your drawings,
                    including all ranch sliders and fully glazed doors. (Note: do not enter solid doors as these will
                    entered in the next section)</p>
                <app-windowform></app-windowform>
                <div style="text-align: right">
                    <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>Go to Next
                        Section <i class="fas fa-arrow-right"></i></button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🚪 Doors</ng-template>
                <p>Please enter your solid (non glazed) doors. (If you are deeming the garage as an unconditioned space,
                    remember to include the door between the house and the garage)</p>
                <app-doorform></app-doorform>
                <div style="text-align: right">
                    <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>Go to Next
                        Section <i class="fas fa-arrow-right"></i></button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🏠 Roof</ng-template>

                <app-roofform></app-roofform>
                <div style="text-align: right">
                    <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>Go to Next
                        Section <i class="fas fa-arrow-right"></i></button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🌄 Skylights</ng-template>
                <app-skylightform></app-skylightform>
                <div style="text-align: right">
                    <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>
                        Go to Next Section <i class="fas fa-arrow-right"></i></button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel matStepperIcon="done">🧱 Floor</ng-template>

                <app-floorsform></app-floorsform>
                <div style="text-align: right">

                </div>
            </mat-step>
        </mat-horizontal-stepper> -->
    </div>
</div>