<div class="col-md-12 changeprofileform" *ngIf="!iscompletechange">
    <form class="buildingform" #changepass="ngForm" (ngSubmit)="onSubmit(changepass)">
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="password" class="form-control" name="oldpass" #oldpass="ngModel" placeholder="Old Password"
                    [(ngModel)]="oldPassword" required>
                <!--Old Pass-->
                <div class="validation-error" *ngIf="oldpass.invalid && oldpass.touched">Please fill your old password.
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="password" class="form-control" name="newpassword" #newpassword="ngModel"
                    placeholder="New Password" [(ngModel)]="newPassword" required>
                <div class="validation-error" *ngIf="newpassword.invalid && newpassword.touched">Please fill your new
                    password.
                </div>
                <!--New Pass-->
            </div>
            <div class="form-group col-md-12">
                <input type="password" class="form-control" name="confirmpass" #confirmpass="ngModel"
                    placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>
                <div class="validation-error" *ngIf="confirmpass.invalid && confirmpass.touched">Please fill your confirm
                    password.
                </div>
                <!--Confirm Pass-->
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-6">
                    <button class="btn btn-lg btn-block btn-info" [disabled]="!changepass.valid" type='submit'>Change</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12" *ngIf="iscompletechange">
    <h1 style="text-align: center">Your password has been changed successfully!</h1>
</div>