<div class="row">
  <div class="col-md-12">
    <h1>Building Info</h1>
    <table class="table table-sm">
      <tr>
        <td>Project ID</td>
        <td></td>
      </tr>
      <tr>
        <td>Targeting</td>
        <td></td>
      </tr>
      <tr>
        <td>Completed By (Name)</td>
        <td></td>
      </tr>
      <tr>
        <td>Drawing Set</td>
        <td></td>
      </tr>
    </table>

    <table class="table table-sm">
      <tr>
        <td>Typology / Dwelling</td>
        <td></td>
      </tr>
      <tr>
        <td>Floor Area (ICA)</td>
        <td></td>
      </tr>
      <tr>
        <td>Location</td>
        <td></td>
      </tr>
    </table>

    <table class="table table-sm">
      <tr>
        <td>Climate Zone</td>
        <td></td>
      </tr>
    </table>

    <h1>Building Model</h1>
    <table class="table table-sm">
      <tr>
        <th>Roof Name (ID)</th>
        <th># of Inclusions</th>
        <th>Roof Area</th>
        <th>Roof R-Value</th>
        <th>Roof Heatloss</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <pre>{{ state$ | async | json }}</pre>
</div>