.bluetablehead{
    background-color: ghostwhite;
    color: black;
}

table tr th{
    text-align: center;
    font-size: 100%;
    vertical-align: middle;
    width: 204px;
}

table tr td{
    text-align: center;
    font-size: 100%;
    vertical-align: middle;
}


.mat-radio-button ~ .mat-radio-button {
    margin-right: 16px;
}

.radio-group{
    display: flex; 
    flex-direction: column;
}