<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-hover">
      <tr>
        <th>Gross Wall Area (m2)</th>
        <th>Gross Window Area (m2)</th>
        <th>Gross O.W.A</th>
        <th>Net Wall Area</th>
        <th>Wall Construction R-Value</th>
        <th>Wall Heat Loss</th>
        <th>Window Heat Loss</th>
      </tr>
      <tr>
        <td>{{grosswallarea | number: '1.0-2'}}</td>
        <td>{{grosswindowdoorarea | number: '1.0-2'}}</td>
        <td>{{grossowa | number: '1.0-2'}}</td>
        <td>{{netwallarea | number: '1.0-2'}}</td>
        <td>{{wallconstructionrvalue | number: '1.0-2'}}</td>
        <td>{{wallheatloss | number: '1.0-2'}}</td>
        <td>{{windowheatloss | number: '1.0-2'}}</td>
      </tr>
      <tr *ngIf="i.data.Window.length != 0">
        <th>Window Name</th>
        <th>Window Area</th>
        <th>O.W.A</th>
        <th>Window Width</th>
        <th>Window Height</th>
        <th>Window R-Value</th>
        <th>Window Heat Loss</th>
      </tr>
      <tr *ngFor="let iwindow of i.data.Window">
        <td>{{iwindow.WindowName}}</td>
        <td>{{iwindow.Area | number: '1.0-2'}}</td>
        <td>{{iwindow.Area * iwindow.OWA | number: '1.0-2'}}</td>
        <td>{{iwindow.Width | number: '1.0-2'}}</td>
        <td>{{iwindow.Height | number: '1.0-2'}}</td>
        <td>{{iwindow.ConstructionRValue | number: '1.0-2'}}</td>
        <td>{{iwindow.Area / iwindow.ConstructionRValue | number: '1.0-2'}}</td>
      </tr>
      <tr *ngIf="i.data.Door != null || i.data.Door != undefined">
        <th>#</th>
        <th>Door Area</th>
        <th>#</th>
        <th>#</th>
        <th>Door R-Value</th>
        <th>#</th>
        <th>Door Heat Loss</th>
      </tr>
      <tr *ngIf="i.data.Door != null || i.data.Door != undefined">
        <td>#</td>
        <td>{{i.data.Door.Area | number: '1.0-2'}}</td>
        <td>#</td>
        <td>#</td>
        <td>
          {{i.data.Door.ConstructionRValue | number: '1.0-2'}}</td>
        <td>#</td>
        <td>
          {{i.data.Door.Area / i.data.Door.ConstructionRValue | number: '1.0-2'}}</td>
      </tr>
    </table>
  </div>
</div>