<div class="row">
    <div style="text-align: center;" class="col-md-12">
        <button class="btn btn-danger" style="margin: 10px" (click)="getcalculateheatloss()"><i
                class="fas fa-calculator"></i> Heat Loss
            Calculate 🌡</button>
        <button class="btn btn-warning" style="margin: 10px" (click)="getcalculatenaturallighting()"><i
                class="fas fa-calculator"></i> Natural Lighting
            Calculate ☀</button>
        <button class="btn btn-success" style="margin: 10px" (click)="getcalculatepassive()"><i
                class="fas fa-calculator"></i> Passive Ventilation
            Calculate 🌫</button>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <button class="btn btn-primary" style="margin: 10px" (click)="returntoSchedule()"><i
                class="fas fa-undo-alt"></i>
            Return to Schedule</button>
        <button class="btn btn-primary" style="margin: 10px"><i class="fas fa-file-download"></i>
            Download Result</button>
    </div>
    <div class="col-md-12" id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-sm">
                        <tr>
                            <th>Project ID</th>
                            <th>{{projectobject.ProjectName}}</th>
                        </tr>
                        <tr>
                            <th>Dwelling / Typology</th>
                            <th>{{designobject.Typology}}</th>
                        </tr>
                        <tr>
                            <th>Completed By</th>
                            <th>{{designobject.CompletedBy}}</th>
                        </tr>
                        <tr>
                            <th>Drawing Set</th>
                            <th>{{designobject.DrawingSet}}</th>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-sm">
                        <tr>
                            <th>Home Compliance</th>
                        </tr>
                        <tr>
                            <td>{{numberpoint}} Points</td>
                        </tr>
                    </table>

                    <table class="table table-sm">
                        <tr>
                            <td>Part 1</td>
                            <td>Solar Aperture</td>
                            <td [ngStyle]="{'color': part1pass ? 'lime' : 'red'}">{{part1pass ? "Compiles" : "Failed"}}
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>Part 2 (i)</td>
                            <td>Habitable Room O.W.A</td>
                            <td [ngStyle]="{'color': part2of1pass ? 'lime' : 'red'}">
                                {{part2of1pass ? "Compiles" : "Failed"}}</td>
                        </tr>
                        <tr>
                            <td>Part 2 (ii)</td>
                            <td>Cross Ventilation</td>
                            <td [ngStyle]="{'color': part2of2pass ? 'lime' : 'red'}">
                                {{part2of2pass ? "Compiles" : "Failed"}}</td>
                        </tr> -->
                        <tr>
                            <td>Part 2 (i) & (ii)</td>
                            <td>Habitable Room O.W.A & Cross Ventilation</td>
                            <td [ngStyle]="{'color': part2pass ? 'lime' : 'red'}">
                                {{part2pass ? "Compiles" : "Failed"}}</td>
                        </tr>
                        <tr>
                            <td>Part 3</td>
                            <td>Secure Windows</td>
                            <td [ngStyle]="{'color': part3pass ? 'lime' : 'red'}">{{part3pass ?  "Compiles" : "Failed"}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>PART 1: </th>
                            <td>The solar aperture of each facade of the dwelling is less than 20% (using simple method)
                            </td>
                            <td [ngStyle]="{'color': part1pass ? 'lime' : 'red'}">{{part1pass ? "Compiles" : "Failed"}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>Façade</th>
                            <th>Gross Wall Area</th>
                            <th>Window Area</th>
                            <th>Window to Wall Ratio</th>
                            <th>WWR Requirement </th>
                            <th>Homestar Compliance</th>
                        </tr>
                        <tr>
                            <th>North</th>
                            <td>{{totalwallnorth | number: '1.0-2'}}</td>
                            <td>{{totalwindownorth | number: '1.0-2'}}</td>
                            <td>{{(totalwindownorth / totalwallnorth) * 100 | number: '1.0-0'}}%</td>
                            <td>27%</td>
                            <td [ngStyle]="{'color': 0.27 > (totalwindownorth / totalwallnorth) ? 'lime' : 'red'}">
                                {{ 0.27 > (totalwindownorth / totalwallnorth) ? "Complies" : "Fail" }}</td>
                        </tr>
                        <tr>
                            <th>East</th>
                            <td>{{totalwalleast | number: '1.0-2'}}</td>
                            <td>{{totalwindoweast | number: '1.0-2'}}</td>
                            <td>{{(totalwindoweast / totalwalleast) * 100 | number: '1.0-0'}}%</td>
                            <td>27%</td>
                            <td [ngStyle]="{'color': 0.27 > (totalwindoweast / totalwalleast) ? 'lime' : 'red'}">
                                {{0.27 > (totalwindoweast / totalwalleast) ? "Complies" : "Fail"}}</td>
                        </tr>
                        <tr>
                            <th>West</th>
                            <td>{{totalwallwest | number: '1.0-2'}}</td>
                            <td>{{totalwindowwest | number: '1.0-2'}}</td>
                            <td>{{(totalwindowwest / totalwallwest) * 100 | number: '1.0-0'}}%</td>
                            <td>27%</td>
                            <td [ngStyle]="{'color': 0.27 > (totalwindowwest / totalwallwest) ? 'lime' : 'red'}">
                                {{0.27 > (totalwindowwest / totalwallwest) ? "Complies" : "Fail"}}</td>
                        </tr>
                    </table>
                </div>

                <hr class="col-md-12">

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>PART 2 (i):</th>
                            <td>The net openable area of the windows in each habitable room is greater than 5% of the
                                conditioned floor area of that room</td>
                            <td [ngStyle]="{'color': part2of1pass ? 'lime' : 'red'}">
                                {{part2of1pass ? "Compiles" : "Failed"}}</td>
                        </tr>
                    </table>
                </div>

                <app-coolingroomitem class="col-md-12" *ngFor="let i of roomlist, let ind = index" [i]="i" [ind]="ind">
                </app-coolingroomitem>

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>PART 2 (ii):</th>
                            <td>At least 30% of the total required openable window area for the dwelling as a whole
                                (i.e. 5% passive ventilation requirement) is located on different facades and/or levels
                                of the dwelling to achieve cross ventilation.</td>
                            <td [ngStyle]="{'color': part2of2pass ? 'lime' : 'red'}">
                                {{part2of2pass ? "Compiles" : "Failed"}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>Floor Area (ICA)</th>
                            <th>Dwelling O.W.A</th>
                            <th>Cross Ventilation 30%</th>
                        </tr>
                        <tr>
                            <td>{{designobject.FloorArea | number: '1.0-2'}}</td>
                            <td>{{designobject.FloorArea * 0.05| number: '1.0-2'}}</td>
                            <td>{{(designobject.FloorArea * 0.05) * 0.3 | number: '1.0-2'}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">

                    <table class="table table-sm">
                        <tr>
                            <th>Façade</th>
                            <th>O.W.A. (m2)</th>
                            <th>>30% Achieved</th>
                        </tr>
                        <tr>
                            <td>North</td>
                            <td>{{owawindownorth| number: '1.0-2'}}</td>
                            <td
                                [ngStyle]="{'color': owawindownorth > ((designobject.FloorArea * 0.05) * 0.3) ? 'lime' : 'red'}">
                                {{owawindownorth > ((designobject.FloorArea * 0.05) * 0.3) ? "Complies" : "Failed" }}
                            </td>
                        </tr>
                        <tr>
                            <td>East</td>
                            <td>{{owawindoweast | number: '1.0-2'}}</td>
                            <td
                                [ngStyle]="{'color': owawindoweast > ((designobject.FloorArea * 0.05) * 0.3) ? 'lime' : 'red'}">
                                {{owawindoweast > ((designobject.FloorArea * 0.05) * 0.3) ? "Complies" : "Failed" }}
                            </td>
                        </tr>
                        <tr>
                            <td>South</td>
                            <td>{{owawindowsouth | number: '1.0-2'}}</td>
                            <td
                                [ngStyle]="{'color': owawindowsouth > ((designobject.FloorArea * 0.05) * 0.3) ? 'lime' : 'red'}">
                                {{owawindowsouth > ((designobject.FloorArea * 0.05) * 0.3) ? "Complies" : "Failed" }}
                            </td>
                        </tr>
                        <tr>
                            <td>West</td>
                            <td>{{owawindowwest | number: '1.0-2'}}</td>
                            <td
                                [ngStyle]="{'color': owawindowwest > ((designobject.FloorArea * 0.05) * 0.3) ? 'lime' : 'red'}">
                                {{owawindowwest > ((designobject.FloorArea * 0.05) * 0.3) ? "Complies" : "Failed" }}
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="col-md-12">
                    <table class="table table-sm">
                        <tr>
                            <th>PART 3:</th>
                            <td>There must be at least 1 x openable window in each habitable room that must be able to
                                be suitably secured while open from intruder entry (to least 10mm along one edge).</td>
                            <td [ngStyle]="{'color': part3pass ? 'lime' : 'red'}">{{part3pass ?  "Compiles" : "Failed"}}
                            </td>
                        </tr>
                    </table>
                </div>

                <app-coolinghabitwindowitem class="col-md-4" *ngFor="let i of roomlist" [i]="i"></app-coolinghabitwindowitem>

            </div>
        </div>
    </div>
</div>