<div class="col-md-12 card">
  <div class="col-md-12">
    <table class="table table-sm bluetablehead">
      <tr>
        <th>Roof Description: {{i.data.Roof.RoofSection}}</th>
        <th>Roof Name: {{i.data.Roof.RoofName}}</th>
        <th style="font-weight: normal">Exposed Area (m2): {{i.data.Roof.ExposedArea | number: '1.0-2'}}</th>
        <th *ngIf="!isedit"><button class="btn btn-primary" (click)="isdisplay = !isdisplay">{{isdisplay ? "Hide": "Show"}}</button>
        </th>
        <th *ngIf="!isedit"><button class="btn btn-primary" (click)="onEdit(i)"><i class="far fa-edit"></i>Edit</button>
        </th>
        <!-- <th *ngIf="isedit">
          <button class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-ban"></i> Cancel</button>
          <button class="btn btn-primary" (click)="onUpdate(i.id)">
            <i class="far fa-save"></i> Save
          </button>
          <button class="btn btn-danger" (click)="onDelete(i.id)"><i class="fas fa-trash-alt"></i> Delete</button>
        </th> -->
      </tr>
    </table>
    <div class="col-md-12">
      <div *ngIf="isdisplay">
        <app-heatlossroofskylight [i]="i">
        </app-heatlossroofskylight>
      </div>

      <div class="col-md-12" *ngIf="isedit">
        <form class="buildingform">
          <div class="form-row">
            <legend>Roof</legend>
            <div class="form-group col-md-6"><input type="text" class="form-control" name="roofsection"
                #roofsection="ngModel" [(ngModel)]="roofextendobject.RoofSection" placeholder="Roof Section"></div>
            <div class="form-group col-md-6">
              <select class="form-control" [(ngModel)]="roofobject" name="Roofobject" #Roofobject="ngModel"
                [compareWith]="compareFn">
                <option *ngFor="let roof of roofskylightservice.rooflist" [ngValue]="roof.data">{{roof.data.RoofName}}
                </option>
              </select></div>
            <div class="form-group col-md-12"><input type="text" class="form-control" name="exposedearea"
                #exposedearea="ngModel" [(ngModel)]="roofextendobject.ExposedArea" placeholder="Exposed Area (m2)"></div>

            <legend>Skylight</legend>
            <div class="form-group col-md-12">

              <select class="form-control" [(ngModel)]="skylightobject" (change)="optionchange()" name="Skylightobject"
                #Skylightobject="ngModel">
                <option [ngValue]="null">Select Skylights</option>
                <option *ngFor="let i of roofskylightservice.skylightlist" [ngValue]="i.data">
                  {{i.data.SkylightsName}}</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <table class="table table-sm table-hover">
                <tr>
                  <th>Skylight ID</th>
                  <th>Width (m2)</th>
                  <th>Length (m2)</th>
                  <th>R-Value</th>
                  <th>Option</th>
                </tr>
                <tr *ngFor="let iskylight of skylightmodellist; let i = index">
                  <td>{{iskylight.SkylightsName}}</td>
                  <td>{{iskylight.Width | number: '1.0-2'}}</td>
                  <td>{{iskylight.Length | number: '1.0-2'}}</td>
                  <td>{{iskylight.ConstructionRValue | number: '1.0-2'}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="deleteskylight(i)">Delete</button>
                  </td>
                </tr>
              </table>
            </div>

            <div class="form-group col-md-12">
              <button class="btn btn-secondary" style="float: right;" (click)="onCancel()"><i class="fas fa-ban"></i> Cancel</button>
              <button class="btn btn-primary" style="float: right;" (click)="onUpdate(i.id)">
                <i class="far fa-save"></i> Save
              </button>
              <button class="btn btn-danger" style="float: right;" (click)="onDelete(i.id)"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>