<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-hover">
            <tr>
                <th>Floor Area</th>
                <th>Floor Construction R-Value</th>
                <th>Floor Heat Loss</th>
            </tr>
            <tr>
                <td>{{floorarea | number: '1.0-2'}}</td>
                <td>{{floorconstructionrvalue | number: '1.0-2'}}</td>
                <td>{{floorheatloss | number: '1.0-2'}}</td>
            </tr>
        </table>
    </div>
</div>