<div class="row">

  <div class="col-md-5">
    <!-- <button class="btn btn-primary" (click)="addfloortoggle()">{{display ? "Cancel" : "+ Add Floor"}}</button> -->
    <div>
      <form class="buildingform">
        <div class="form-row">
          <legend>Floor</legend>
          <div class="form-group col-md-6"><input type="text" class="form-control" name="floorsection"
              #floorsection="ngModel" placeholder="Floor Description" [(ngModel)]="floorextendobject.FloorSection">
          </div>
          <div class="form-group col-md-6"> <select class="form-control" name="Floorobject" [(ngModel)]="floorobject">
              <option [ngValue]="null">Select Floor...</option>
              <option *ngFor="let i of floorservice.floorlist" [ngValue]="i.data">{{i.data.FloorName}}</option>
            </select></div>
          <div class="form-group col-md-12"> <input type="text" class="form-control" name="exposedarea"
              #exposedarea="ngModel" placeholder="Exposed Area (m2)" [(ngModel)]="floorextendobject.ExposedArea"></div>
          <div class="form-group col-md-12">
            <button class="btn btn-primary" style="float: right;" (click)="addFieldValue()"><i
                class="far fa-check-circle"></i>
              Complete Floor Model</button>
              <button class="btn btn-link btn-sm" style="float: right;" type="reset"><i class="fas fa-redo"></i>
                Reset</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="col-md-7 overflowdiv">
    <app-floormodelitem *ngFor="let flooritem of buildingmodelservice.floormodellist" [flooritem]="flooritem">
    </app-floormodelitem>
  </div>
</div>