<h1 style="text-align: center;">Start Building Schedule</h1>

<h1 style="text-align: center">Project: {{projectobject.ProjectName}} - Design: {{designobject.DesignName}}</h1>
<div style="text-align: center;">
  <button class="btn btn-primary" style="margin: 10px" routerLink="/main/{{registeruser.ID}}/project">Back To Project
    List</button>
  <button class="btn btn-primary" style="margin: 10px" (click)="toggleedit(designobject)">
    <span *ngIf="!isedit"><i class="fas fa-edit"></i>
      Edit</span>
    <span *ngIf="isedit">
      <i class="fas fa-window-close"></i>
      Cancel
    </span></button></div>
<hr class="col-md-12">
<div class="row">

  <div class="col-md-4 jumbotron" *ngIf="!isedit">
    <table class="table table-sm">
      <tr>
        <th>Design</th>
        <td>{{designobject.DesignName}}</td>
      </tr>
      <tr>
        <th>Completed By</th>
        <td>{{designobject.CompletedBy}}</td>
      </tr>
      <tr>
        <th>Drawing Set</th>
        <td>{{designobject.DrawingSet != null ? designobject.DrawingSet : "Unknown"}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-12 jumbotron" *ngIf="!isedit">
    <table class="table table-sm">
      <tr>
        <th>Typology/Dwelling</th>
        <td>{{designobject.Typology != null ? designobject.Typology : "Unknown"}}</td>
      </tr>
      <tr>
        <th>Floor Area</th>
        <td *ngIf="designobject.FloorArea != null">{{designobject.FloorArea}}</td>
      </tr>
      <tr>
        <th># of Habitable Room</th>
        <td>{{roomserv.numofroom}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 jumbotron" *ngIf="!isedit">
    <table class="table table-sm">
      <tr>
        <th>Target Rating</th>
        <td *ngIf="designobject.TargetRating != null">{{designobject.TargetRating.HomeStar}}</td>
      </tr>
      <tr>
        <th>Climate Category</th>
        <td *ngIf="designobject.Climatetype != null">{{designobject.Climatetype}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          {{designobject.StreetName != null && designobject.City != null && designobject.Postcode != null ? (designobject.StreetName + ", " + designobject.City + ", " + designobject.Postcode) : "Unknown"}}
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-12 jumbotron" *ngIf="isedit">

    <table class="table table-sm table-borderless">
      <tr>
        <td><input type="text" class="form-control" name="designname" #designname="ngModel"
            [(ngModel)]="designobject1.DesignName" placeholder="Design Name" required matTooltip="Design Name"></td>
        <td><input type="text" class="form-control" name="completedBy" #completedBy="ngModel"
            [(ngModel)]="designobject1.CompletedBy" placeholder="Completed By" required matTooltip="Completed By"></td>
        <td><input type="text" class="form-control" name="drawingSet" #drawingSet="ngModel"
            [(ngModel)]="designobject1.DrawingSet" placeholder="Drawing Set" required matTooltip="Drawing Set"></td>

      </tr>
      <tr>
        <td><input type="text" class="form-control" name="street" #street="ngModel"
            [(ngModel)]="designobject1.StreetName" placeholder="Street Address" required matTooltip="Street Address">
        </td>
        <td><input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="designobject1.City"
            placeholder="City" required matTooltip="City"></td>
        <td><input type="text" class="form-control" name="postcode" #postcode="ngModel"
            [(ngModel)]="designobject1.Postcode" placeholder="Postcode" required matTooltip="Postcode"></td>
      </tr>
      <tr>
        <td><select class="form-control" name="targetRating" #targetRating="ngModel"
            [(ngModel)]="designobject1.TargetRating" [compareWith]="compareFn" matTooltip="Target Rating"
            (change)="changeoption1()">
            <option *ngFor="let i of climateservice.homestarlist" [ngValue]="i">{{i.HomeStar}}</option>
          </select></td>
        <td colspan="2"><select class="form-control" name="climatetype" #climatetype="ngModel"
            [(ngModel)]="designobject1.Climatetype" matTooltip="Climate Zone">
            <option *ngFor="let x of climateservice.climatelist" [ngValue]="x">{{x}}</option>
          </select></td>

      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" name="floorarea" #floorarea="ngModel"
            [(ngModel)]="designobject1.FloorArea" placeholder="Floor Area" required matTooltip="Floor Area">
        </td>
        <td colspan="2"><input type="text" class="form-control" name="typology" #typology="ngModel"
            [(ngModel)]="designobject1.Typology" placeholder="Typology" required matTooltip="Typology"></td>
      </tr>
      <tr>
        <td colspan="3">
          <button class="btn btn-primary" *ngIf="isedit" (click)="updatedesign()"><i class="fas fa-sync"></i>
            Update</button>
        </td>

      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step>
        <ng-template matStepLabel matStepperIcon="done"><i class="fas fa-clipboard-list"></i> Building Schedule
        </ng-template>
        <p>
          Please use the below to enter your wall, floor and roof types, and any windows to match the window schedule on
          your drawings. You will then be able to use all this information in the next phase when you construct your
          building model.
        </p>
        <div style="text-align: center">
          <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>Go to Model <i
              class="fas fa-arrow-right"></i></button>
        </div>
        <app-schedule></app-schedule>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel matStepperIcon="done"><i class="fas fa-tasks"></i> Building Model</ng-template>
        <p>
          Please use this section to build up your model, using the drop-down selections for all the different walls,
          windows, roof and floor that you have previously entered into the “schedule” section and adding dimensions and
          orientations as required.
        </p>
        <div style="text-align: center">
          <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>Go to Result <i
              class="fas fa-arrow-right"></i></button>
        </div>
        <app-buildingmodel numberofhabitroom="numberofhabitroom"></app-buildingmodel>

      </mat-step>


      <mat-step>
        <ng-template matStepLabel matStepperIcon="done"><i class="fas fa-poll"></i> View Result</ng-template>
        <div style="text-align: center">
          <button class="btn btn-outline-danger" style="margin: 10px" (click)="getcalculateheatloss()"><i
              class="fas fa-calculator"></i> Calculate
            EHC-1 (Heat loss) 🌡</button>
          <button class="btn btn-outline-primary" style="margin: 10px" (click)="getcalculatecoolingenergy()"><i
              class="fas fa-calculator"></i>
            Calculate EHC1 (Cooling) 🌬</button>
          <button class="btn btn-outline-success" style="margin: 10px" (click)="getcalculatepassive()"><i
              class="fas fa-calculator"></i>
            Calculate EHC-3 (Ventilation) 🌫</button>
          <button class="btn btn-outline-warning" (click)="getcalculatenaturallighting()"><i
              class="fas fa-calculator"></i>
            Calculate EHC-7 (Natural Lighting) ☀</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>

</div>