<div class="row">
    <div class="col-md-4">
        <form class="buildingform" #windowform="ngForm" (ngSubmit)="onSubmit(windowform)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="windowobject.ID">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" name="windowName" #windowName="ngModel"
                        placeholder="Window Name" [(ngModel)]="windowobject.WindowName">
                </div>
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" pattern="[0-9]*" name="constructionRValue"
                        #constructionRValue="ngModel" placeholder="Construction R-Value"
                        [(ngModel)]="windowobject.ConstructionRValue" inputmode="numeric" digitOnly>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" pattern="[0-9]*" name="windowWidth" #windowWidth="ngModel"
                        placeholder="Width" [(ngModel)]="windowobject.Width" (keyup)="onKeyWidth($event)"
                        inputmode="numeric" digitOnly>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" pattern="[0-9]*" name="windowsHeight"
                        #windowHeight="ngModel" placeholder="Height" [(ngModel)]="windowobject.Height"
                        (keyup)="onKeyHeight($event)" inputmode="numeric" digitOnly>
                </div>

                <div class="form-group col-md-12">
                    <label>Area: <span>{{windowobject.Area | number: '1.0-2'}}</span></label>

                </div>
                <div class="form-group col-md-6">
                    <label>Shade</label>
                    <select class="form-control" [(ngModel)]="windowobject.ShadePercent" name="shadepercent"
                        #shadepercent="ngModel">
                        <option *ngFor="let x of shadeList" [ngValue]="x.percentage">
                            {{x.percentage * 100 | number: '1.0-0'}}% {{x.shade}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>O.W.A (%)</label><select class="form-control" name="owa" #owa="ngModel"
                        [(ngModel)]="windowobject.OWA">
                        <option *ngFor="let i of owaList" [ngValue]="i">{{i * 100 | number: '1.0-0'}}%</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <button [disabled]="windowobject.WindowName == null || windowobject.ConstructionRValue == null ||
                            windowobject.Width == null || windowobject.Height == null || windowobject.OWA == null ||
                            windowobject.ShadePercent == null" class="btn btn-primary" type="submit"><i
                            class="far fa-check-circle"></i> Complete Window</button>
                    <button class="btn btn-link btn-sm" style="float: right;" type="reset"><i class="fas fa-redo"></i>
                        Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <table class="table table-sm table-hover">
            <tr>
                <th>Window Name</th>
                <th>R-Value</th>
                <th>Width</th>
                <th>Height</th>
                <th>Area</th>
                <th>Shade (%)</th>
                <th>O.W.A (%)</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let i of wallservice.windowlist">
                <td>{{i.data.WindowName}}</td>
                <td>{{i.data.ConstructionRValue | number: '1.0-2'}}</td>
                <td>{{i.data.Width | number: '1.0-2'}}</td>
                <td>{{i.data.Height | number: '1.0-2'}}</td>
                <td>{{i.data.Area | number: '1.0-2'}}</td>
                <td>{{i.data.ShadePercent | number: '1.0-2'}}</td>
                <td>{{i.data.OWA | number: '1.0-2'}}</td>
                <td>
                    <button class="btn btn-secondary" type="button" (click)="editFieldValue(i)" matTooltip="Edit"><i
                            class="fas fa-pen-square"></i></button>
                    <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i.id, i.data)"
                        matTooltip="Delete"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>

        </table>
    </div>

</div>