<div class="row board">
    <div class="col-md-6">{{build.ID}}</div>
    <div class="col-md-2">Rename</div>
    <div class="col-md-2">Send Copy</div>
    <div class="col-md-2">Delete</div>
    <div class="col-md-12">
        <table class="table table-sm table-hover">
            <tr>
                <th>Decisions Project</th>
                <th>Created Date</th>
                <th>Modified Date</th>
            </tr>
            <tr>
                <td>{{build.CompletedBy}}</td>
                <td>{{build.DateCreated}}</td>
                <td>{{build.DateModified}}</td>
            </tr>
        </table>
    </div>
</div>
<br>