<div class="row">
    <div class="col-md-4">
        <form class="buildingform" #floorform="ngForm" (ngSubmit)="onSubmit(floorform)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="floorobject.ID">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" name="floorname" #floorname="ngModel"
                        [(ngModel)]="floorobject.FloorName" placeholder="Floor Name">
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" name="constructionrvalue" #constructionrvalue="ngModel"
                        [(ngModel)]="floorobject.ConstructionRValue" placeholder="ConstructionRValue">
                </div>
                <div class="form-group col-md-12">
                    <textarea cols="30" rows="5" class="form-control" name="description" #description="ngModel"
                        [(ngModel)]="floorobject.Description" placeholder="Description"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <button [disabled]="floorobject.FloorName == null || floorobject.ConstructionRValue == null"
                        class="btn btn-primary" type="submit"><i class="far fa-check-circle"></i> Complete
                        Floor</button>
                    <button class="btn btn-link btn-sm" style="float: right;" type="reset"><i class="fas fa-redo"></i>
                        Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8 overflowdiv">
        <table class="table table-sm table-hover">
            <tr>
                <th>Susp. Floor Name</th>
                <th>R-Value</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let i of floorservice.floorlist">
                <td>{{i.data.FloorName}}</td>
                <td>{{i.data.ConstructionRValue | number: '1.0-2'}}</td>
                <td>
                    <p class="overflowdesc">{{i.data.Description}}</p>
                </td>
                <td>
                    <button class="btn btn-secondary" type="button" (click)="editFieldValue(i)" matTooltip="Edit"><i
                            class="fas fa-pen-square"></i></button>
                    <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i.id, i.data)"
                        matTooltip="Delete"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </table>
    </div>

</div>