<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel matStepperIcon="done">Room Breakdown</ng-template>
        <hr class="col-md-12">
        <app-roombreakdown></app-roombreakdown>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Wall, Windows & Door Model</ng-template>
        <app-walldoorwindowmodel>
        </app-walldoorwindowmodel>
        <!-- <div style="text-align: center">
            <button type="button" color="default" mat-button matStepperNext>Next</button>
        </div> -->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Roof & Skylights Model</ng-template>
        <app-roofskylightmodel>
        </app-roofskylightmodel>
        <!-- <div style="text-align: center">
            <button  type="button" color="default"  mat-button matStepperPrevious>Back</button>
            <button  type="button" color="default"  mat-button matStepperNext>Next</button>
        </div> -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Floor Model</ng-template>
        <app-floormodel></app-floormodel>
        <!-- <div style="text-align: center">
            <button  type="button" color="default"  mat-button matStepperPrevious>Back</button>
            <button  type="button" color="default"  mat-button matStepperNext>Next</button>
        </div> -->
    </mat-step>
</mat-horizontal-stepper>