<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel>Wall, Windows & Door Model</ng-template>
        <app-walldoorwindowmodel [windowobjectlist]="windowobjectlist" [wallobjectlist]="wallobjectlist"
            [doorobjectlist]="doorobjectlist" [wallwindowdoorobjectlist]="wallwindowdoorobjectlist">
        </app-walldoorwindowmodel>
        <div>
            <button mdbBtn type="button" color="default" mdbWavesEffect mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Roof & Skylights Model</ng-template>
        <app-roofskylightmodel [skylightsobjectlist]="skylightsobjectlist" [roofobjectlist]="roofobjectlist"
            [roofskylightobject]="roofskylightobject" [roofskylightobjectlist]="roofskylightobjectlist">
        </app-roofskylightmodel>
        <div>
            <button mdbBtn type="button" color="default" mdbWavesEffect mat-button matStepperPrevious>Back</button>
            <button mdbBtn type="button" color="default" mdbWavesEffect mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Floor Model</ng-template>
        <app-floormodel [floorobjectlist]="floorobjectlist" [floorsobject]="floorsobject"
            [floormodelobjectlist]="floormodelobjectlist"></app-floormodel>
        <div>
            <button mdbBtn type="button" color="default" mdbWavesEffect mat-button matStepperPrevious>Back</button>
            <button mdbBtn type="button" color="default" mdbWavesEffect mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
    </mat-step>
</mat-horizontal-stepper>