<div class="row">
    <div class="col-md-12">
        <ng-stepper #cdkStepper [linear]="true">
            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">1</div>
                    <div class="step-title"><i class="fas fa-home"></i> Room Breakdown</div>
                </ng-template>
                <app-roombreakdown numberofhabitroom="numberofhabitroom"></app-roombreakdown>
            </cdk-step>
            <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                    <div class="step-bullet">2</div>
                    <div class="step-title">🧱🚪🏠 Wall, Windows & Door Model</div>
                </ng-template>
                <app-walldoorwindowmodel>
                </app-walldoorwindowmodel>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">3</div>
                    <div class="step-title">🏠 Roof & Skylights Model</div>
                </ng-template>
                <app-roofskylightmodel>
                </app-roofskylightmodel>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <div class="step-bullet">4</div>
                    <div class="step-title">🧱 Floor Model</div>
                </ng-template>
                <app-floormodel></app-floormodel>
            </cdk-step>
        </ng-stepper>
    </div>
</div>
<!-- <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel matStepperIcon="done"><i class="fas fa-home"></i> Room Breakdown</ng-template>
        <hr class="col-md-12">
        <app-roombreakdown numberofhabitroom="numberofhabitroom"></app-roombreakdown>
        <div style="text-align: right">
            <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>
                Go to Wall Section <i class="fas fa-arrow-right"></i></button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>🧱🚪🏠 Wall, Windows & Door Model</ng-template>
        <app-walldoorwindowmodel>
        </app-walldoorwindowmodel>
        <div style="text-align: right">
            <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>
                Go to Next Section <i class="fas fa-arrow-right"></i></button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>🏠 Roof & Skylights Model</ng-template>
        <app-roofskylightmodel>
        </app-roofskylightmodel>
        <div style="text-align: right">
            <button type="button" color="default" class="btn btn-primary btn-lg" matStepperNext>
                Go to Next Section <i class="fas fa-arrow-right"></i></button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>🧱 Floor Model</ng-template>
        <app-floormodel></app-floormodel>

    </mat-step>
</mat-horizontal-stepper> -->