<div class="row">
    <div style="text-align: center" class="col-md-12">
        <button class="btn btn-outline-danger" style="margin: 10px" (click)="getcalculateheatloss()"><i class="fas fa-calculator"></i> Calculate
            EHC-1 (Heat loss) 🌡</button>
          <button class="btn btn-outline-primary" style="margin: 10px" (click)="getcalculatecoolingenergy()"><i class="fas fa-calculator"></i>
            Calculate EHC1 (Cooling) 🌬</button>
          <button class="btn btn-outline-success" style="margin: 10px" (click)="getcalculatepassive()"><i class="fas fa-calculator"></i>
            Calculate EHC-3 (Ventilation) 🌫</button>
          <button class="btn btn-outline-warning" (click)="getcalculatenaturallighting()"><i class="fas fa-calculator"></i>
            Calculate EHC-7 (Natural Lighting) ☀</button>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <button class="btn btn-primary" style="margin: 10px" (click)="returntoSchedule()"><i
                class="fas fa-undo-alt"></i>
            Return to Schedule</button>
        <button class="btn btn-primary" style="margin: 10px" (click)="downloadresult()"><i
                class="fas fa-file-download"></i>
            Download Result</button>
    </div>
    <div class="col-md-12" id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-sm">
                        <tr>
                            <th>Project ID</th>
                            <th>{{projectobject.ProjectName}}</th>
                        </tr>
                        <tr>
                            <th>Dwelling / Typology</th>
                            <th>{{designobject.Typology}}</th>
                        </tr>
                        <tr>
                            <th>Habitable Room</th>
                            <th>{{roomserv.numofroom}}</th>
                        </tr>
                        <tr>
                            <th>Completed By</th>
                            <th>{{designobject.CompletedBy}}</th>
                        </tr>
                        <tr>
                            <th>Drawing Set</th>
                            <th>{{designobject.DrawingSet}}</th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-sm">
                        <tr>
                            <th>
                                HomeStar Compliance
                            </th>
                        </tr>
                        <tr>
                            <th [ngStyle]="{'color': compliancepoint == 3 ? 'lime' : 'red'}"
                                style="text-decoration: underline;">
                                {{compliancepoint}} Points
                            </th>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <app-naturallightingitem *ngFor="let i of roomserv.roomlist" [i]="i"></app-naturallightingitem>
                </div>
            </div>

        </div>
    </div>

</div>